<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} | Cupon</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block id '' %}"> <div id="contenedor">
        {% block body %}{% endblock %}

        <footer>
            &copy; {{ 'now' | date('Y') }} -- Cupon
            <a href="{{ path('pagina_estatica', {'pagina': 'ayuda'}) }}">Ayuda</a>
            <a href="{{ path('pagina_estatica', {'pagina': 'contacto'}) }}">Contacto</a>
            <a href="{{ path('pagina_estatica', {'pagina': 'privacidad'}) }}">Privacidad</a>
            <a href="{{ path('pagina_estatica', {'pagina': 'sobre-nosotros'}) }}">Sobre nosotros</a>
        </footer>
        {% block javascripts %}{% endblock %}
    </div>

    </body>
</html>
