{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('bundles/oferta/css/normalizar.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/oferta/css/comun.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/oferta/css/frontend.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascript %}{% endblock %}

{% set cuidadSeleccionada = app.request.attributes.get('ciudad', ciudad_por_defecto) %}


  {% block body %}
    <div id="contenedor">
        <header>
            <h1><a href="{{ path('_portada') }}">CUPON</a></h1>
            <nav>
                <ul>
                    <li><a href="{{ path('_portada') }}">Oferta del día</a></li>
                    <li><a href="#">Ofertas recientes</a></li>
                    <li><a href="#">Mis ofertas</a></li>

                    <li>{% render(controller( 'CiudadBundle:Default:listaCiudades', { 'ciudad': cuidadSeleccionada } )) %}
                    </li>
                </ul>
            </nav>
        </header>
        <article>
            {% block article %}{% endblock %}
        </article>
        <aside>
            {% block aside %}{% endblock %}
        </aside>
    </div>
  {% endblock %}
