<select id="ciudadSeleccionada">
    {% for ciudad in ciudades %}
        <option value="{{ ciudad.slug }}"
                data-url="{{ url('ciudad_cambiar', { ciudad: ciudad.slug }) }}"
                {{ ciudadActual == ciudad.slug ? 'selected="selected"' : '' }}>
            {{ ciudad.nombre }}
        </option>
    {% endfor %}
</select>

<script type="text/javascript">
    var lista = document.getElementById('ciudadSeleccionada');

    lista.onChange =  function() {
        var url = lista.options[lista.selectedIndex].getAttribute('data-url');
        window.alert("hola mundo");
        window.location(url);
    };
</script>