{% extends '::frontend.html.twig' %}

{% block title %}Cupon, cada día ofertas increíbles en tu ciudad con descuentos de hasta el 90%{% endblock %}
{% block id 'portada' %}

{% block article %}
    <section class="descripcion">
        <h1><a href="#"> {{ oferta.nombre }}</a></h1>
        {{ oferta.descripcion }}
        <a class="boton" href="#">Comprar</a>
    </section>
    <section class="galeria">
        <img alt="Fotografía de la oferta" src="{{ asset('uploads/images/'~oferta.foto) }}">
        <p class="precio">{{ oferta.precio }}&euro;
            <span>{{ oferta.descuento }}</span></p>
        <p><strong>Condiciones:</strong> {{ oferta.condiciones }}</p>
    </section>
    <section class="estado">
        <div class="tiempo">
            <strong>Faltan</strong>: {{ oferta.fechaExpiracion | date() }}
        </div>
        <div class="compras">
            <strong>Compras</strong>: {{ oferta.compras }}
        </div>
        <div class="faltan">
            {# Si las compras no llegan al umbral mínimo establecido #}
            {% set faltan = oferta.umbral - oferta.compras %}
            {% if faltan >= 0 %}
            Faltan <strong>{{ faltan }} compras</strong> <br/>
            para activar la oferta
            {# Si las compras superan el umbral mínimo establecido #}
            {% else %}
            <strong>Oferta activada</strong> por superar las
            <strong>{{ oferta.umbral }}</strong> compras necesarias
            {% endif %}
        </div>
    </section>
    <section class="direccion">
        <h2>Disfruta de la oferta en</h2>
        <p>
            <a href="#">{{ oferta.tienda.nombre }}</a>
            {{ oferta.tienda.direccion }}
        </p>
    </section>
    <section class="tienda">
        <h2>Sobre la tienda</h2>
        {{ oferta.tienda.descripcion }}
    </section>
{% endblock %}

{% block aside %}
    ## FORMULARIO DE LOGIN ##
    <section id="nosotros">
        <h2>Sobre nosotros</h2>
        <p>Lorem ipsum dolor sit amet...</p>
    </section>
{% endblock %}

